<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Weather</title>
  <link href="https://cdn.rawgit.com/bgrins/spectrum/master/spectrum.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <h5><a href="/users">All Users</a></h5>
  <h3>Welcome, <%= user.username %></h3>

  <p><button id="geolocation" onclick="geoFindMe()">Get my location</button></p>
  <div id="out"></div>
  <form action="/users/<%=user.id%>/weather" method="post">
    <input type="text" id="lat" name="lat" placeholder="latitude">
    <input type="text" id="long" name="long" placeholder="longitude">
    <input type="submit">
  </form>

  <br>

<!-- routing to link hue up based on temperature -->
  <form class="lights" action="/users/<%=user.id%>/huetemp" method="get">
    <input type="submit" value="Get Temperature Color">
  </form>

  <!-- routing to link hue up based on weather -->
    <form class="lights" action="/users/<%=user.id%>/hueweather" method="get">
      <input type="submit" value="Get Weather Color">
    </form>

  <br><br>

  <table id="locationTemp">
    <tr>
      <!-- <th>Choose Color</th> -->
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Temperature</th>
      <th>Weather</th>
    </tr>
    <% if (weather.length > 0) { %>
      <% let current = weather.length -1 %>

      <tr>
        <td>
          <%= weather[current].lat %>
        </td>
        <td>
          <%= weather[current].long %>
        </td>
        <td class="tempCondition">
          <%= weather[current].temp %>
        </td>
        <td class="currentWeather">
          <%= weather[current].weather %>
        </td>
      </tr>
      <% } %>

  </table>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script type="text/javascript" src="/js/color.js"></script>

  <script type="text/javascript" src="/js/getLocation.js"></script>

</body>

</html>

<%#
<td>
  <input type='text' class="colorPicker">
</td>%>

  <%# <script src="https://cdn.rawgit.com/bgrins/spectrum/master/spectrum.js"></script>%>
